<!DOCTYPE html>
<html>
<head>
<meta  charset="UTF-8">
<title> Liste des Articles </title>
</head>
<body>

{% for category in categorys %}
<p> {{ category.id}} 
{{ category.categori}}
{% endfor %}

</body>
</html>