{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

<style>
  .ju{
    background-color:green;
    color:white;
  }
  .display-4{
    text-align:center;
  }
</style>
<div class="jumbotron jumbotron-fluid ju">
  <div class="container">
    <h1 class="display-4">Formulaire connexion du Blog TDSI2018</h1>
    <p class="lead"></p>
  </div>
</div> 


<h1>Connection</h1>
<form action="{{ path('examen_blog_login')}}" method="post">
<div class="form-group">
<input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
</div>
<div class="form-group">
<input placeholder="Mot de passe ..." required name="_password" type="password" class="form-control">
</div>
<div class="form-group">
<button type="submit" class="btn btn-success">Connexion!</button>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}